[flake8]
max-line-length = 120
application-import-names = arcor2,arcor2_arserver,arcor2_arserver_data,arcor2_build,arcor2_build_data,arcor2_calibration,arcor2_execution,arcor2_execution_data,arcor2_fit_demo,arcor2_kinali,arcor2_mocks
ignore = B306, B042, E203, E231, E704, W503, PT028
known-modules = numpy-quaternion:[quaternion],lru-dict:[lru]
