[GLOBAL]
pants_version = "2.24.0"
colors = true
process_execution_local_parallelism = 4

plugins = [
  "packaging==21.3",
]

backend_packages.add = [
  "pants.backend.python",
  "pants.backend.python.lint.black",
  "pants.backend.python.lint.flake8",
  "pants.backend.python.typecheck.mypy",
  "pants.backend.python.lint.isort",
  "pants.backend.python.lint.docformatter",
  "setup_kwargs_plugin",
  "pants.backend.docker",
  "pants.backend.docker.lint.hadolint",
  "pants.backend.shell",
  "pants.backend.shell.lint.shfmt",
  "pants.backend.shell.lint.shellcheck",
]

build_file_prelude_globs = [
  "pants-plugins/macros.py",
]

pythonpath = ["%(buildroot)s/pants-plugins"]

[source]
root_patterns = [
  '/src/python',
  '/3rdparty'  # not sure why, but all 3rdparty deps depends on requirements.txt (see ./pants dependees 3rdparty/requirements.txt)
]

[python]
interpreter_constraints = [">=3.12,<3.13"]
enable_resolves = true

[python.resolves]
python-default = "3rdparty/constraints.txt"
flake8 = "3rdparty/flake8_lockfile.txt"
black = "3rdparty/black_lockfile.txt"
mypy = "3rdparty/mypy_lockfile.txt"
pytest = "3rdparty/pytest_lockfile.txt"
setuptools = "3rdparty/setuptools_lockfile.txt"

[python-bootstrap]
search_path = ["<PATH>", "/usr/bin/python3.12"]

[flake8]
install_from_resolve = "flake8"

[black]
install_from_resolve = "black"
interpreter_constraints = [">=3.12,<3.13"]

[mypy]
install_from_resolve = "mypy"

[pytest]
install_from_resolve = "pytest"
# args = ["--count=3 -x"]

[setuptools]
install_from_resolve = "setuptools"

[test]
use_coverage = false
extra_env_vars = ["LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/ros/jazzy/opt/rviz_ogre_vendor/lib:/opt/ros/jazzy/lib/x86_64-linux-gnu:/opt/ros/jazzy/opt/gz_math_vendor/lib:/opt/ros/jazzy/opt/gz_utils_vendor/lib:/opt/ros/jazzy/opt/gz_cmake_vendor/lib:/opt/ros/jazzy/lib:/opt/ros/jazzy/opt/sdformat_vendor/lib", "HOME=/tmp", "PYTHONDEVMODE=1"]  # "PYTHONWARNINGS=error" not useable due to DeprecationWarning in networkx-2.2
timeout_default = 600

[python-infer]
imports = true

[setup-py-generation]
first_party_dependency_version_scheme = "compatible"

[anonymous-telemetry]
enabled = true
repo_id = "394a3b7c-1c30-4047-b53e-90e5df3d84a9"
