
Host arcor2.github.com
  HostName github.com
  User git
  IdentityFile /robofit_arcor2_deploy
  IdentitiesOnly yes

Host arcor2_kinali.github.com
  HostName github.com
  User git
  IdentityFile /robofit_arcor2_kinali_deploy
  IdentitiesOnly yes