version: '3.8'

services:
  fit-demo-arserver:
    image: arcor2/arcor2_arserver:1.1.1
    container_name: fit-demo-arserver
    depends_on:
      fit-demo-project:
        condition: service_healthy
      fit-demo-asset:
        condition: service_healthy
      fit-demo-build:
        condition: service_healthy
      fit-demo-execution:
        condition: service_started
      fit-demo-kinect:
        condition: service_healthy
      fit-demo-scene:
        condition: service_healthy
      fit-demo-calibration:
        condition: service_healthy
      fit-demo-dobot-magician:
        condition: service_healthy
      fit-demo-dobot-magician2:
        condition: service_healthy
      fit-demo-dobot-m1:
        condition: service_healthy
    ports:
      - "6789:6789"
      - "6799:6799"
    networks:
          - fit-demo-kinect-network
          - fit-demo-scene-network
          - fit-demo-project-network
          - fit-demo-asset-network
          - fit-demo-dobot-magician-network
          - fit-demo-dobot-magician2-network
          - fit-demo-dobot-m1-network
          - fit-demo-calibration-network
    environment:
      - ARCOR2_PROJECT_SERVICE_URL=http://fit-demo-project:10000
      - ARCOR2_ASSET_SERVICE_URL=http://fit-demo-asset:10040
      - ARCOR2_SCENE_SERVICE_URL=http://fit-demo-scene:5013
      - ARCOR2_EXECUTION_URL=ws://fit-demo-execution:6790
      - ARCOR2_BUILD_URL=http://fit-demo-build:5008
      - ARCOR2_CALIBRATION_URL=http://fit-demo-calibration:5014
      - ARCOR2_KINECT_AZURE_URL=http://192.168.104.100:5017 # Run kinect using pants

  fit-demo-build:
    image: arcor2/arcor2_build:1.3.2
    container_name: fit-demo-build
    depends_on:
      fit-demo-project:
        condition: service_healthy
    environment:
      - ARCOR2_PROJECT_SERVICE_URL=http://fit-demo-project:10000
      - ARCOR2_PROJECT_PATH=""
    ports:
      - "5008:5008"
    networks:
      - fit-demo-project-network

  fit-demo-execution:
    image: arcor2/arcor2_execution:1.2.0
    container_name: fit-demo-execution
    networks:
      - fit-demo-execution-network
      - fit-demo-scene-network
      - fit-demo-dobot-magician-network
      - fit-demo-dobot-magician2-network
      - fit-demo-dobot-m1-network
    environment:
      - ARCOR2_SCENE_SERVICE_URL=http://fit-demo-scene:5013
      - ARCOR2_PROJECT_PATH=/root/project
    volumes:
        - fit-demo-execution:/root/project

  fit-demo-kinect:
    image: arcor2/arcor2_kinect_azure:0.7.0
    container_name: fit-demo-kinect
    networks:
      - fit-demo-kinect-network
    ports:
        - "5016:5016"
    environment:
      - ARCOR2_KINECT_AZURE_MOCK=true

  fit-demo-calibration:
    image: arcor2/arcor2_calibration:1.1.0
    networks:
      - fit-demo-calibration-network
    ports:
      - "5014:5014"
    environment:
      - ARCOR2_CALIBRATION_URL=http://fit-demo-calibration:5014
      - ARCOR2_CALIBRATION_MOCK=false
    volumes:
      - ./calibration.yaml:/root/calibration.yaml

  fit-demo-dobot-magician:
    image: arcor2/arcor2_dobot:1.1.0
    container_name: fit-demo-dobot-magician
    depends_on:
      fit-demo-scene:
        condition: service_healthy
    networks:
      - fit-demo-dobot-magician-network
      - fit-demo-scene-network
    ports:
        - "5018:5018"
    environment:
      - ARCOR2_DOBOT_MOCK=true
      - ARCOR2_SCENE_SERVICE_URL=http://fit-demo-scene:5013
      - ARCOR2_DOBOT_MODEL=magician

  fit-demo-dobot-magician2:
    image: arcor2/arcor2_dobot:1.1.0
    container_name: fit-demo-dobot-magician2
    depends_on:
      fit-demo-scene:
        condition: service_healthy
    networks:
      - fit-demo-dobot-magician2-network
      - fit-demo-scene-network
    ports:
      - "5020:5018"
    environment:
      - ARCOR2_DOBOT_MOCK=true
      - ARCOR2_SCENE_SERVICE_URL=http://fit-demo-scene:5013
      - ARCOR2_DOBOT_MODEL=magician

  fit-demo-dobot-m1:
    image: arcor2/arcor2_dobot:1.1.0
    container_name: fit-demo-dobot-m1
    depends_on:
      fit-demo-scene:
        condition: service_healthy
    networks:
      - fit-demo-dobot-m1-network
      - fit-demo-scene-network
    ports:
        - "5019:5018"
    environment:
      - ARCOR2_DOBOT_MOCK=true
      - ARCOR2_SCENE_SERVICE_URL=http://fit-demo-scene:5013
      - ARCOR2_DOBOT_MODEL=m1

# TODO commented out until it is officially released
#  fit-demo-3d-mouse:
#    image: arcor2/arcor2_3d_mouse:1.0.0
#    container_name: fit-demo-3d-mouse
#    privileged: true
#    volumes:
#      - type: tmpfs
#        target: /myapp/tmpdir
#      - /usr/share/alsa:/usr/share/alsa
#      - /run/user/${UID}/pulse/native:/run/user/${UID}/pulse/native
#      - /etc/alsa:/etc/alsa
#    environment:
#      - G_UID=${UID}
#      - PULSE_SERVER=unix:/run/user/${UID}/pulse/native


  fit-demo-scene:
    image: arcor2/arcor2_scene:1.0.0
    container_name: fit-demo-scene
    networks:
          - fit-demo-scene-network
    ports:
      - "5013:5013"

  fit-demo-asset:
    image: registry.gitlab.com/kinalisoft/test-it-off/asset:1.0.0
    container_name: "fit-demo-asset"
    environment:
        - "ASSETS_FOLDER=/tmp/assets"
    volumes:
        - fit-demo-asset:/tmp/assets
    networks:
        - fit-demo-asset-network
    expose:
        - "10040"
    ports:
        - "10040:10040"

  fit-demo-project:
    image: registry.gitlab.com/kinalisoft/test-it-off/project:1.0.1
    container_name: "fit-demo-project"
    ports:
      - "10000-10001:10000-10001"
    environment:
      - "ASSET_SERVICE_URL=http://fit-demo-asset:10040"
    depends_on:
        fit-demo-asset:
          condition: service_healthy
    networks:
      - fit-demo-project-network
      - fit-demo-asset-network

  fit-demo-nginx:
    image: nginx:1.23.3
    container_name: "fit-demo-nginx"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "6790:80"
    networks:
      - fit-demo-asset-network
    depends_on:
      - fit-demo-asset

  fit-demo-upload-object-types:
    image: arcor2/arcor2_upload_fit_demo:1.2.0
    container_name: "fit-demo-upload-object-types"
    depends_on:
      fit-demo-project:
        condition: service_healthy
      fit-demo-asset:
        condition: service_healthy
    networks:
      - fit-demo-project-network
      - fit-demo-asset-network
    environment:
      - ARCOR2_PROJECT_SERVICE_URL=http://fit-demo-project:10000
      - ARCOR2_ASSET_SERVICE_URL=http://fit-demo-asset:10040

  fit-demo-upload-builtin-objects:
    image: arcor2/arcor2_upload_builtin_objects:1.0.0
    container_name: "fit-demo-upload-builtin-objects"
    depends_on:
      fit-demo-project:
        condition: service_healthy
      fit-demo-asset:
        condition: service_healthy
    networks:
      - fit-demo-project-network
      - fit-demo-asset-network
    environment:
      - ARCOR2_PROJECT_SERVICE_URL=http://fit-demo-project:10000
      - ARCOR2_ASSET_SERVICE_URL=http://fit-demo-asset:10040


volumes:
  fit-demo-asset:
  fit-demo-execution:

networks:
  fit-demo-scene-network:
  fit-demo-execution-network:
  fit-demo-project-network:
  fit-demo-asset-network:
  fit-demo-kinect-network:
  fit-demo-dobot-magician-network:
  fit-demo-dobot-magician2-network:
  fit-demo-dobot-m1-network:
  fit-demo-calibration-network:
