version: '3'

services:
  fit-demo-arserver:
    image: arcor2/arcor2_arserver:0.25.0
    container_name: fit-demo-arserver
    depends_on:
      - fit-demo-project
      - fit-demo-build
      - fit-demo-execution
      # - fit-demo-kinect
      - fit-demo-mocks
      - fit-demo-calibration
    ports:
      - "6789:6789"
      - "6799:6799"
    networks:
          # - fit-demo-kinect-network
          - fit-demo-scene-network
          - fit-demo-project-network
          - fit-demo-dobot-magician-network
          - fit-demo-dobot-m1-network
          - fit-demo-calibration-network
    environment:
      - ARCOR2_PROJECT_SERVICE_URL=http://fit-demo-project:10000
      - ARCOR2_SCENE_SERVICE_URL=http://fit-demo-mocks:5013
      - ARCOR2_EXECUTION_URL=ws://fit-demo-execution:6790
      - ARCOR2_BUILD_URL=http://fit-demo-build:5008
      - ARCOR2_CALIBRATION_URL=http://fit-demo-calibration:5014

  fit-demo-build:
    image: arcor2/arcor2_build:0.23.0
    container_name: fit-demo-build
    depends_on:
      - fit-demo-project
    environment:
      - ARCOR2_PROJECT_SERVICE_URL=http://fit-demo-project:10000
    ports:
      - "5008:5008"
    networks:           
      - fit-demo-project-network

  fit-demo-execution:
    image: arcor2/arcor2_execution:0.20.1
    container_name: fit-demo-execution
    networks:
      - fit-demo-execution-network
      - fit-demo-scene-network
      - fit-demo-dobot-magician-network
      - fit-demo-dobot-m1-network
    environment:
      - ARCOR2_SCENE_SERVICE_URL=http://fit-demo-mocks:5013
      - ARCOR2_PROJECT_PATH=/root/project
    volumes:
        - fit-demo-execution:/root/project

# not used at the moment
#  fit-demo-kinect:
#    image: arcor2/arcor2_kinect_azure:0.4.0
#    container_name: fit-demo-kinect
#    networks:
#      - fit-demo-kinect-network
#    ports:
#        - "5016:5016"
#    environment:
#      - ARCOR2_KINECT_AZURE_MOCK=true

  fit-demo-calibration:
    image: arcor2/arcor2_calibration:0.7.0
    networks:
      - fit-demo-calibration-network
    ports:
      - "5014:5014"
    environment:
      - ARCOR2_CALIBRATION_URL=http://fit-demo-calibration:5014
      - ARCOR2_CALIBRATION_MOCK=false
    volumes:
      - ./calibration.yaml:/root/calibration.yaml

  fit-demo-dobot-magician:
    image: arcor2/arcor2_dobot:0.4.1
    container_name: fit-demo-dobot-magician
    restart: on-failure:3  # TODO it often fails to contact Scene Service when starting, remove once we have healthcheck
    depends_on:
      - fit-demo-mocks
    networks:
      - fit-demo-dobot-magician-network
      - fit-demo-scene-network
    ports:
        - "5018:5018"
    environment:
      - ARCOR2_DOBOT_MOCK=true
      - ARCOR2_SCENE_SERVICE_URL=http://fit-demo-mocks:5013

  fit-demo-dobot-m1:
    image: arcor2/arcor2_dobot:0.4.1
    container_name: fit-demo-dobot-m1
    restart: on-failure:3  # TODO it often fails to contact Scene Service when starting, remove once we have healthcheck
    depends_on:
      - fit-demo-mocks
    networks:
      - fit-demo-dobot-m1-network
      - fit-demo-scene-network
    ports:
        - "5019:5018"
    environment:
      - ARCOR2_DOBOT_MOCK=true
      - ARCOR2_SCENE_SERVICE_URL=http://fit-demo-mocks:5013

  fit-demo-mocks:
    image: arcor2/arcor2_mocks:0.18.0
    container_name: fit-demo-mocks
    networks:
          - fit-demo-scene-network
    ports:
      - "5013:5013"

  fit-demo-asset:
    image: registry.gitlab.com/kinalisoft/test-it-off/asset:0.3.2
    container_name: "fit-demo-asset"
    environment:
        - "ASSETS_FOLDER=/tmp/assets"
    volumes:
        - fit-demo-asset:/tmp/assets
    networks:
        - fit-demo-asset-network
    expose:
        - "10040"
    ports:
        - "10040:10040"

  fit-demo-project:
    image: registry.gitlab.com/kinalisoft/test-it-off/project:0.18.1
    container_name: "fit-demo-project"
    ports:
      - "10000-10001:10000-10001"
    environment:
      - "ASSET_SERVICE_URL=http://fit-demo-asset:10040"
    depends_on:
        - fit-demo-asset
    networks:
      - fit-demo-project-network
      - fit-demo-asset-network

  fit-demo-nginx:
    image: nginx:1.21.1
    container_name: "fit-demo-nginx"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "6790:80"
    networks:
      - fit-demo-project-network
    depends_on:
      - fit-demo-project

  fit-demo-upload-object-types:
    image: arcor2/arcor2_upload_fit_demo:0.9.0
    container_name: "fit-demo-upload-object-types"
    depends_on:
      - fit-demo-project
    networks:
      - fit-demo-project-network
    environment:
      - ARCOR2_PROJECT_SERVICE_URL=http://fit-demo-project:10000


volumes:
  fit-demo-asset:
  fit-demo-execution:

networks:
  fit-demo-scene-network:
  fit-demo-execution-network:
  fit-demo-project-network:
  fit-demo-asset-network:
#  fit-demo-kinect-network:
  fit-demo-dobot-magician-network:
  fit-demo-dobot-m1-network:
  fit-demo-calibration-network: