services:
  ur-demo-robot-api:
    image: arcor2/arcor2_ur:1.7.0
    container_name: ur-demo-robot-api
    ports:
      - "5012:5012"
#    environment:
#       - ARCOR2_UR_DEBUG=1
    restart: always  # the service tends to crash when calling PUT /state/stop
    cap_add:
      - SYS_NICE
    ulimits:
      rtprio: 99
      rttime: -1 # corresponds to 'unlimited'
      memlock: 8428281856
    # network_mode: host
  ur-demo-arserver:
    image: arcor2/arcor2_arserver:1.4.0
    container_name: ur-demo-arserver
    depends_on:
      ur-demo-storage:
        condition: service_healthy
      ur-demo-build:
        condition: service_healthy
      ur-demo-execution:
        condition: service_started
      ur-demo-calibration:
        condition: service_healthy
    ports:
      - "6789:6789"
      - "6799:6799"
    networks:
      - ur-demo-network
    environment:
      - ARCOR2_STORAGE_SERVICE_URL=http://ur-demo-storage:10000
      - ARCOR2_SCENE_SERVICE_URL=http://ur-demo-robot-api:5012
      - ARCOR2_EXECUTION_URL=ws://ur-demo-execution:6790
      - ARCOR2_BUILD_URL=http://ur-demo-build:5008
      - ARCOR2_CALIBRATION_URL=http://ur-demo-calibration:5014
      # - ARCOR2_ARSERVER_DEBUG=1
  ur-demo-build:
    image: arcor2/arcor2_build:1.8.0
    container_name: ur-demo-build
    depends_on:
      ur-demo-storage:
        condition: service_healthy
    environment:
      - ARCOR2_STORAGE_SERVICE_URL=http://ur-demo-storage:10000
      - ARCOR2_PROJECT_PATH=""
    ports:
      - "5008:5008"
    networks:
      - ur-demo-network

  ur-demo-execution:
    image: arcor2/arcor2_execution:1.7.0
    container_name: ur-demo-execution
    networks:
      - ur-demo-network
    environment:
      - ARCOR2_SCENE_SERVICE_URL=http://ur-demo-robot-api:5012
      - ARCOR2_PROJECT_PATH=/root/project
    volumes:
      - ur-demo-execution:/root/project
    ports:
      - "6791:6790"  # only needed for debugging - to be able to connect from outside

  ur-demo-execution-proxy:
    image: arcor2/arcor2_execution_proxy:1.2.1
    container_name: ur-demo-execution-proxy
    networks:
      - ur-demo-network
    environment:
      - ARCOR2_PROJECT_PATH=/root/project
      - ARCOR2_EXECUTION_URL=ws://ur-demo-execution:6790
    depends_on:
      ur-demo-execution:
        condition: service_started
    volumes:
      - ur-demo-execution:/root/project
    ports:
      - "5009:5009"

  ur-demo-calibration:
    image: arcor2/arcor2_calibration:1.2.0
    networks:
      - ur-demo-network
    ports:
      - "5014:5014"
    environment:
      - ARCOR2_CALIBRATION_URL=http://ur-demo-calibration:5014
      - ARCOR2_CALIBRATION_MOCK=false
    volumes:
      - ./calibration.yaml:/root/calibration.yaml

  ur-demo-storage:
    image: arcor2/arcor2_storage:1.0.0
    container_name: "ur-demo-storage"
    ports:
      - "10000:10000"
    volumes:
      - ur-demo-storage-data:/data
    networks:
      - ur-demo-network

  ur-demo-nginx:
    image: nginx:1.29.4
    container_name: "ur-demo-nginx"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "6790:80"
    networks:
      - ur-demo-network
    depends_on:
      ur-demo-storage:
        condition: service_healthy

  ur-demo-upload-object-types:
    image: arcor2/arcor2_ur_ot:1.7.0
    container_name: "ur-demo-upload-object-types"
    depends_on:
      ur-demo-storage:
        condition: service_healthy
    networks:
      - ur-demo-network
    environment:
      - ARCOR2_STORAGE_SERVICE_URL=http://ur-demo-storage:10000

  ur-demo-upload-builtin-objects:
    image: arcor2/arcor2_upload_object_types:2.0.0
    container_name: "ur-demo-upload-builtin-objects"
    depends_on:
      ur-demo-storage:
        condition: service_healthy
    networks:
      - ur-demo-network
    environment:
      - ARCOR2_STORAGE_SERVICE_URL=http://ur-demo-storage:10000

volumes:
  ur-demo-storage-data:
  ur-demo-execution:

networks:
  ur-demo-network:
